

Puzzle Game Dev Pack/[Ll]ibrary/
Puzzle Game Dev Pack/[Tt]emp/
Puzzle Game Dev Pack/[Oo]bj/
Puzzle Game Dev Pack/[Bb]uild/
Puzzle Game Dev Pack/[Bb]uilds/
Puzzle Game Dev Pack/[Ll]ogs/
Puzzle Game Dev Pack/[Uu]ser[Ss]ettings/
Puzzle Game Dev Pack/.vs/Puzzle Game Dev Pack/v17/.suo
Puzzle Game Dev Pack/WebGlBuild
